:root{
  --White: hsl(0, 0%, 100%);

--Slate-300: hsl(212, 45%, 89%);
--Slate-500: hsl(216, 15%, 48%);
--Slate-900: hsl(218, 44%, 22%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.attribution { 
 font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

body{
  background-color: var(--Slate-500);
  text-align: center;
  font-family:  sans-serif;
  font-weight: 300;
  justify-items: center;
}
.box {
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 220px;
  align-items: center;
  border: none;
  border-radius: 10px;
  margin: 2.5rem;

}

.box-img-container,
.box-img{
  justify-content: center;
  padding-bottom: 10px;
  border-radius: 10px;
}

.textBox {
  width: 200px;
}

h2{
  font-size: 15px;
  padding-bottom: 15px;
  text-align: center;
}

p{
  font-size: 11px;
}